<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="global.css">
    <title>Layout responsivo</title>
</head>
<body>
    <div class="esquerda">
        <h1>Título</h1>
        <p>Algum texto por aqui</p>
        <div class="imagens">
            <img src="Images/Usagi.jpg" alt="Naruto">
            <img src="Images/luffy.jpeg" alt="Luffy">
            <img src="Images/goku.webp" alt="Goku">
            <img src="Images/002.png" alt="002">
            <img src="Images/akame.jpg" alt="Akame">
        </div>
    </div>

    <div class="direita">
        <div class="direita-cima">
            <p>Um texto aqui</p>
            <div>
                <img src="Images/inosuke.jpg" alt="Usagi">
            </div>
        </div>
        <div class="direita-baixo">
            <div>
                <img src="Images/misty.jpg" alt="Misty">
            </div>
            <p>Outro <span id="x"> texto </span> aqui</p>
        </div>
    </div>



</body>
</html>