body{
    margin: 0px;
}

.container{
    display: grid; 

    height: 100vh;
    background-color:pink;

    grid-template: 50% 50% / 100px 1fr 100px 1fr 2fr 100px; /*define quantas linhas vai ter */
}

.item{
    width: 100%; /*vai usar 100% do tamanho do grid*/
    height: 100%;
    background-color: aquamarine; 
    border-radius: 50px;
    border: 1px black dashed;
    /*grid-row-start: 1; /*define a linha primeira posição q essa div item vai iniciar // 1- inicia na linha 1, 5- inicia na 5 */
    /*grid-column-start: 1 ; /*defini em qual coluna o elemento vai iniciar // no caso ta iniciando na primeira */

}

.mover{
   
}

.mover2{
        
}
