  /* h1, h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: r gb(0, 47, 255); /* visivel mais facil, porem lento 
}

p {
    color:  r gba(15, 241, 166, 0.3); /* rgba - transparencia  /*rgb cor normal 
}

li {
    color:# ee0686; /* mais rapido porem dificil de entender 
}  */

h1 {
    color:red;
    font-size: 15px;
}

p {
    font-size: 12px;
    color:blue;
}

h2, h3 {
    color:blue;
    font-size: 14px;
}
