body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div{
    width: 200px;
    height: 200px;
    border: black solid 1px;
    margin-bottom: 10px;
}

input{

}

button{

}